{% extends "layout.twig" %}

{% block content %}

    <div class="col mt-3">
        <div class="alert alert-success">
            The user with id {{ user_id }} created a new post with title {{ post.title }}
        </div>
    </div>

{% endblock %}