{% extends "layout.twig" %}
{% block content %}

    {% if message %}
        <div class="col mt-3">
            <div class="alert alert-danger">
                Is not posible to update the user with id {{ id }} 
            </div>
        </div>
    {% else %}
        <div class="col mt-3">
            <div class="alert alert-success">
                The user with id {{ id }} had his email updated for {{ email }}
            </div>
        </div>
    {% endif %}


{% endblock %}