{% extends "layout.twig" %}

{% block content %}

    <div class="col mt-3">
        <div class="alert alert-success">
            The user with username {{ user.username }} exists
        </div>
    </div>

{% endblock %}